/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*Estilos header*/
header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: #000000;
}

header #superior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header #superior #logo {
    display: flex;
    align-items: center;
}

header #superior #titulo {
    font-size: 2em;
    color: #ffffff;
}

header #superior #titulo #X {
    font-size: 3em;
    color: #EB2CDE;
}

header #superior #apariencia {
    max-height: 40px;
}

header #inferior {
    background-color: #B1B1B1;
}

header #inferior nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

header #inferior nav ul li {
    padding: 10px 20px;
}

header #inferior nav ul li a {
    color: #000000;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

header #inferior nav ul li a:hover,
header #inferior nav ul li a:focus,
header #inferior nav ul li a.active {
    border-bottom: 2px solid #000000;
}

/*Estilos footer*/
footer {
    background-color: #000000;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: static;
    bottom: 0;
}

footer #logo-copy img {
    max-height: 70px;
}

footer #logo-copy {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer #titulo1 {
    font-size: 1em;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    text-align: center;
    flex: 1;
}

footer #titulo1 #X1 {
    font-size: 3em;
    color: #EB2CDE;
}

footer #contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer #contact-info span {
    margin-bottom: 10px;
}

footer #contact-info span img {
    max-height: 20px;
    margin-right: 5px;
    position: relative;
    top: 5px;
}

footer #contact-info span a {
    color: #ffffff;
    text-decoration: none;
}

/* Responsividad */
@media (max-width: 768px) {
    header #superior {
        flex-direction: column;
        text-align: center;
    }

    header #inferior nav ul {
        flex-direction: column;
        align-items: center;
    }

    footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    footer #titulo1 {
        padding-left: 0;
        margin-top: 10px;
    }

    footer #logo-copy img {
        padding-left: 0;
    }
}