/* Estilos generales */
body {
    background-image: url("../images/candado.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Inter', sans-serif;
}


/* Diseño de las salas */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
}

.salasIzquierda, .salasDerecha {
    display: flex;
    align-items: center;
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    width: 80%;
    box-shadow: 0 0 10px rgba(255, 0, 255, 0.5);
}

.salasIzquierda img, .salasDerecha img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    border: 3px solid #eb2cde;
}

.salasIzquierda h1, .salasDerecha h1 {
    color: #eb2cde;
    font-size: 28px;
    text-shadow: 2px 2px 5px black;
}

.masInfo summary {
    cursor: pointer;
    color: #eb2cde;
    font-weight: bold;
    margin-top: 10px;
}

/* Tablas */
.tabla table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.tabla th, .tabla td {
    border: 1px solid #eb2cde;
    padding: 10px;
    text-align: center;
}

.tabla th {
    background-color: #eb2cde;
    color: white;
}

/* Botón de más información */
.masInfo summary {
    background-color: #eb2cde;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
}

.masInfo summary:hover {
    background-color: #eb2cde;
}